@use 'base/variables' as v;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: v.$f-primary ;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

img {
    width: 100%;
    display: block;
}

p {
    line-height: 1.5;
}