@use './variables' as v;

@mixin mobile-lg() {
    @media screen and (min-width: v.$mobile-lg) {
        @content;
    }
}

@mixin tablet() {
    @media screen and (min-width:v.$tablet) {
        @content;
    }
}

@mixin desktop() {
    @media screen and (min-width:v.$desktop) {
        @content;
    }
}

@mixin desktop-lg() {
    @media screen and (min-width:v.$desktop-lg) {
        @content;
    }
}

@mixin headings() {
    h2 {
        text-align: center;

        span {
            font-family: v.$f-secondary;
            display: block;
            font-size: 0.9rem;
        }
    }
}

@mixin boton($fuenteColor, $bgColor) {
    color: $fuenteColor;
    background-color: $bgColor;
    padding: 0.7em;
    text-transform: uppercase;
    display: inline-block;
    transition: background-color 0.3s ease-in-out;

    &:hover,
    &:focus {
        background-color: darken($bgColor, 5%);
    }
}

@mixin heading() {
    display: flex;
    flex-direction: column-reverse;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: .8;

    @include tablet {
        font-size: 2.5rem;
    }

    span {
        font-weight: normal;
        text-transform: none;
        display: block;
        font-family: v.$f-secondary;
        color: v.$clr-primary;
    }
}

@mixin heading-normal($f-color: v.$white) {
    font-weight: 400;
    text-transform: uppercase;
    color: $f-color;
    margin-top: 0;
    margin-bottom: 0.8em;
    text-align: center;
}