@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lato:wght@400;700&family=Open+Sans:wght@400;500;700&display=swap');

// Color palette
$clr-primary: hsl(336, 61%, 70%);
$clr-secundary: hsl(174, 44%, 69%);
$white: hsl(0, 0%, 100%);
$negro: hsl(0, 0%, 0%);
$gray: hsl(0, 0%, 97%);

//Screen sizes 
$mobile-lg: 620px;
$tablet: 768px;
$desktop: 1210px;
$desktop-lg: 1500px;

//fonts
$f-primary: 'Lato', sans-serif;
$f-secondary: Italianno, sans-serif;

%contenedor {
    width: 95%;
    max-width: 1200px;
    margin-inline: auto;
}